<h1 align='center'>All Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">

      </section>
    </div>
  </div>
  <div class="col-md-10">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">

    <h4 class="card-title"><%= recipe.name %></h4>
    <p class="card-text"><%= truncate(recipe.description, length: 150) %></p>
    <p>
      <span class='quiet'>
        <small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small>
      </span>
    </p>
  </div>
  </div>
  </div>
<% end %>