@import 'bootstrap/dist/css/bootstrap';

.center {
  text-align: center;
}

.cover {
  background-image: asset-url('recipe-background.jpeg');
  background-size: cover;
  height: 300px;
  h1 {
    color: #4e878c;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  h2 {
    color: #4e878c;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.btn-custom {
  background-color: #4e878c;
}

.btn-custom:hover {
  background-color: #65b891;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #4e878c;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #65b891;
  text-decoration: none;
}

footer {
  background-color: #93e5ab;
  ul {
    float: right;
  list-style: none;
  }
}

.link-spec {
  color: #4e878c;
  text-decoration: none;
  text-transform: uppercase;
}

.link-spec:hover {
  color: #65b891;
  text-decoration: none;
}

.cancel {
  color: #4e878c;
  text-decoration: none;
}

.cancel:hover {
  color: #65b891;
  text-decoration: none;
}


.description {
  margin-top: 0;
}

.card a {
  color: #4e878c;
  text-decoration: none;
  text-transform: capitalize;
}

.card a:hover {
  color: #65b891;
  text-decoration: none;
}

.name {
  color: #4e878c;
  text-transform: capitalize;
}

.chef_info {
  margin-top: 10px;
}

.error-card {
  background-color: #f1a19f;
}

.close {
  float: right;
  color: #4e878c;
  text-decoration: none;
}

.recipe-actions {
  padding-top: 55px;
  a {
    color: black;
  }
  a:hover {
    color: whitesmoke;
  }
  .btn-edit-spec {
    background-color: #cbff4d;
  }
  .btn-edit-spec:hover {
    background-color: #84dd63;
  }
}