@import 'bootstrap/dist/css/bootstrap';

.center {
  text-align: center;
}

.cover {
  background-image: asset-url('recipe-background.jpeg');
  background-size: cover;
  height: 300px;
}

.cover h1 {
  color: rgb(153, 63, 63);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.cover h2 {
  color: rgb(153, 63, 63);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-custom {
  background-color: #eb9553;
}

.btn-custom:hover {
  background-color: rgb(153, 63, 63);
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: rgb(153, 63, 63);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(241, 106, 106);
  text-decoration: none;
}

footer {
  background-color: #ee7f7f;
}

footer ul {
  float: right;
  list-style: none;
}

.link-spec {
  color: rgb(153, 63, 63);
  text-decoration: none;
  text-transform: uppercase;
}

.link-spec:hover {
  color: rgb(241, 106, 106);
  text-decoration: none;
}

.cancel {
  color: rgb(153, 63, 63);
  text-decoration: none;
}

.cancel:hover {
  color: rgb(241, 106, 106);
  text-decoration: none;
}


.description {
  margin-top: 0;
}

.card a {
  color: rgb(241, 106, 106);
  text-decoration: none;
  text-transform: capitalize;
}

.card a:hover {
  color: rgb(153, 63, 63);
  text-decoration: none;
}

.name {
  color: rgb(153, 63, 63);
  text-transform: capitalize;
}

.chef_info {
  margin-top: 10px;
}

.error-card {
  background-color: #f1a19f;
}

.close {
  float: right;
  color: rgb(153, 63, 63);
  text-decoration: none;
}