<footer class="mt-4 fixed-bottom">
  <div class="container-fluid py-3">
    <div class="row">
        <div class="col-8">
          <small>RecipeBox <em>by Rhonda Tinkham &copy;2021</em></small>
        </div>
        <div class="col-4 text-right small align-self-end">
          <%= link_to 'About', '/about', class: 'link-spec' %>
        </div>
    </div>
  </div>
</footer>